{% extends 'kitchen/base.html' %}

{% block title %}Edit Ingredient | SmartKitchen{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card p-4 mt-4">
            <h2 class="section-title h4 mb-4">Edit {{ item.ingredient.name }}</h2>
            
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-success flex-grow-1">Save Changes</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
